{% extends 'master.html' %}

{% block  content %}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Mis Convocatorias</h1>
    <p class="mb-4">Mis convocatorias de empleo</a>.</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Convocatorias que he aplicado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th>Fecha y hora de cierre</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for convocatoria in object_list %}
                        <tr>
                            <td>{{convocatoria.cargo}}</td>
                            {% if convocatoria.fecha_cierre < fecha or convocatoria.estado == 'CERRADA' or convocatoria.estado == 'TERMINADA'%}
                            <td style="color: red;">TERMINADA</td>
                            {% else %}
                            <td>{{convocatoria.fecha_cierre}} {{convocatoria.hora_cierre}} </td>
                            {% endif %}
                            <td style="color: green;">{{convocatoria.estado}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}