{% extends 'master.html' %}

{% block title %} Crear Convocatoria {% endblock %}

{% block content%}

<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Crear Convocatoria</h1>
        </div>
        <form class="user" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{form.cargo}}
                {{ form.cargo.errors }}
            </div>
            <div class="form-group">
                {{form.descripcion}}
                {{ form.descripcion.errors }}
            </div>
            <div class="form-group">
                {{form.fecha_cierre}}
                {{ form.fecha_cierre.errors }}
            </div>
            <div class="form-group">
                {{form.hora_cierre}}
                {{ form.hora_cierre.errors }}
            </div>
            <div class="form-group">
                {{form.estado}}
                {{ form.estado.errors }}
            </div>
            <button type="submit"class="btn btn-primary btn-user btn-block">
                Registrar Convocatoria
            </button>
        </form>
    </div>
</div>

{% endblock%}